		<footer class="footer">
			<div class="container">
				<nav class="pull-left">
					<ul>
					{% for link in site.footer_links %}<li><a href="{{ link.url }}">{{ link.name }}</a></li>{% endfor %}
					</ul>
				</nav>
				<div class="copyright pull-right">
					&copy; 2017, made with love by <a href="https://auxesis.tv/">Auxesis</a>
				</div>
			</div>
		</footer>