	<nav class="navbar navbar-transparent navbar-absolute">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ site.url }}">Louisiana Dog Rescue</a>
			</div>

			<div class="collapse navbar-collapse" id="navigation-example">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="./adopt" >
							Adopt
						</a>
					</li>
					<li>
						<a href="#about" >
							About Us
						</a>
					</li>
					<li>
						<a href="#donate" >
							Donate
						</a>
					</li>
					<li>
						<a href="#get-involved" >
							Get Involved
						</a>
					</li>
					<li>
						<a href="https://twitter.com/{{ site.twitter.username }}" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/{{ site.facebook.username }}" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
